@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* ELEMENT SELECTORS */
body{   
     background-image: url('https://i.pinimg.com/564x/24/d2/13/24d213b14b7ebebd992bfd0d5e9fdbe8.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     text-align: center;
     font-family: 'Roboto', sans-serif;
    padding: 20px;
}

div{
    background-color: rgba(110, 236, 99, 0.397);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

h1, h2, p{
    text-align:center;
}

h1{
    font-size: 40px;
    margin: 0;
}

h2{
    font-size: 35px;
}

hr{
    height: .5px;
    background-color: rgb(228, 202, 168, 0.4);
    border-color: rgba(25, 104, 49, 0.406);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.75);

}


footer{
    font-size: 14px;
}

a {
    color: black;
    text-decoration: none;
}

/* lvha */
a:link {
    color: #FF0000;
    
  }
  
  /* visited link */
  a:visited {
    color:#fff;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(5, 238, 25)
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }


/* CLASSNAME SELECTORS */

.teaMenu{
    background-color: rgba(104, 184, 111, 0.712);
    padding: 20px;
    max-width: 500px;
}

.top-line{
    width: 50%;
}


.established{
    font-style: italic;
}

.teaItem p{
    /* background-color: green; */
    display: inline-block;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.teaFlavor, .teaCollection{
    /* background-color: orangered; */
    text-align: left;
    width: 75%;
}


.teaPrice, .collectionPrice{
    /* background-color: yellow; */
    text-align: right;
    width: 25%;
}


.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}